@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Radio Canada", sans-serif;
}
body{
    overflow-x: hidden;
}
:root{
    --praimary-color: #5cd2b9;
    --bg-color: #151515;
    --bg2-color: #262626;
    --nav-color: #80b340;
    --text-color: #fff;
    --head-color: #1f3b35;
    --black-color: #0c0c0c;
}
/* nav bar 1 */
.nav-buy{
    background-color: var(--bg2-color);
}
.nav-buy .container-fluid .navbar-brand{
    color: #fff;
    padding: 0px 10px;
}
.nav-buy .container-fluid .navbar-brand span{
    color: var(--nav-color);
}
.nav-buy .container-fluid form .btn{
    background-color: var(--nav-color);
    padding: 3px 15px;
    color: #fff;
}
/* end nav bar */
/* nav Bar */
.nav-logo{
    background-color: #151515;
    width: 100%;
}
.nav-logo .container .logo{
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    line-height: 33px;
    margin: 10px 0px;
}
.nav-logo .container .logo .navbar-brand{
    font-size: 50px;
    font-weight: 800;
    color: var(--praimary-color);
}
.nav-logo .container .logo .nav-span{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.nav-logo .container .collapse .navbar-nav .nav-item .nav-link{
    color: #fff;
    padding: 0px 15px;
}
.nav-logo .container .collapse .navbar-nav .nav-item .search{
    color: var(--praimary-color);
}
/* end Nav Bar */
/* header */
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(45,45,45,1) 44%, rgba(31,59,53,1) 78%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
header .head{
    width: 50%;
    margin: 35px 25px;
    padding: 35px 25px;
}
header .head .text{
    color: var(--praimary-color);
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 25px;
    letter-spacing: 2px;
    font-weight: 800;
}
header .head h1{
    color: var(--text-color);
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 25px;
    margin: 0 auto;
}
header .head h1 .head-span{
    font-size: 60px;
    color: var(--praimary-color);
}
header .image{
    width: 50%;
}
header .image img{
    width: 100%;
    height: 40%;
}
header .head hr{
    width: 100px;
    padding: 0px 25px;
    margin: 0px 25px;
    color: var(--praimary-color);
}
header .head p{
    font-size: 15px;
    color: var(--text-color);
    opacity: 70%;
    margin-bottom: 25px;
    padding: 20px 25px;
}
header .head .about i{
    font-size: 30px;
    border-radius: 50%;
    border: 5px solid var(--head-color);
    width: 70px;
    height: 70px;
    background-color: var(--praimary-color);
    padding: 15px 20px;
    text-align: center;
    color: var(--text-color);
    margin: 0px 0px;
}
header .head .about .btn{
    font-size: 25px;
    color: var(--text-color);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 20px 20px;
    margin-bottom: 18px;
}
header .head .body .btn-p{
    transform: translate(80px , 0px);
    width: 35%;
    border-top: 1px solid var(--head-color);
    color: var(--praimary-color);
    font-size: 17px;
    opacity: 0px;
}
/* section our services */
.our-services{
    background-color: var(--black-color);
    width: 100%;
    height: fit-content;
    padding: 55px 0px;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
hr{
    width: 20%;
    color: var(--praimary-color);
}
.our-services .container .row .col-xl-6{
    width: 45%;
}
.our-services .container .row .col-xl-6 .text{
    color: var(--praimary-color);
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 0px;
}
.our-services .container .row .col-xl-6 h2{
    font-size: 65px;
    padding: 10px 0px;
    font-weight: 600;
}
.our-services .container .row .col-xl-6 h2 .span-h2{
    color: var(--praimary-color);
    font-weight: 600;
}
.our-services .container .row .col-xl-6 .body{
    font-size: 13px;
    opacity: 70%;
    padding: 15px 0px;
    margin-bottom: 10px;
}
.our-services .container .row .col-xl-6 .btn{
    background-color: var(--praimary-color);
    color: var(--text-color);
    border-radius: 10px;
    padding: 10px 15px;
    margin: 20px 0px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
}
.our-services .container .row .col-xl-3 .card{
    padding: 15px 10px;
    color: var(--text-color);
    text-align: center;
    background-color: var(--bg2-color);
    border-radius: 0px;
    margin: 20px 0px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-services .container .row .col-xl-3 .card-top{
    margin-top: 60px;
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(31,59,53,1) 78%); */
    background: linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(31,59,53,1) 100%);
}
.our-services .container .row .col-xl-3 .card-bottom{
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(31,59,53,1) 78%); */
    background: linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(31,59,53,1) 100%);
}
.our-services .container .row .col-xl-3 .card img{
    width: 35%;
    height: 35%;
}
.our-services .container .row .col-xl-3 .card .card-body .card-title{
    font-size: 18px;
    font-weight: 600;
}
.our-services .container .row .col-xl-3 .card .card-body .card-text{
    font-size: 14px;
}
/* end section our services */
/* about us */
.about-us{
    width: 100%;
    height: fit-content;
    background-color: var(--bg2-color);
    padding-top: 35px;
    color: var(--text-color);
}
.about-us .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about-us .container .image{
    width: 35%;
}
.about-us .container .image img{
    width: 100%;
    height: auto;
}
.about-us .container .body-text{
    width: 65%;
    padding-top: 45px;
    padding-inline: 20px;
}
.about-us .container .body-text .text{
    color: var(--praimary-color);
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 0px;
}
.about-us .container .body-text h2{
   font-size: 55px;
   font-weight: 600;
}
.about-us .container .body-text h2 .span-h2{
   color: var(--praimary-color);
   font-weight: 600;
}
.about-us .container .body-text .body{
    font-size: 13px;
    opacity: 70%;
    padding: 15px 0px;
    margin-bottom: 10px;
}
.about-us .container .body-text .row {
    padding-bottom: 35px;
    /* margin-bottom: 45px; */
}
.about-us .container .body-text .row .col-xl-6 .card{
    background-color: var(--bg2-color);
    border: none;
    color: var(--text-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-us .container .body-text .row .col-xl-6 .card img{
    width: 20%;   
    height: 20%; 
    padding: 10px 0px;
    margin: 0px;
}
.about-us .container .body-text .row .col-xl-6 .card .card-body .card-title{
    font-size: 23px;
    font-weight: 600;
}
.about-us .container .body-text .row .col-xl-6 .card .card-body .card-text{
    font-size: 13px;
    font-weight: 400;
    padding: 5px 0px;
    line-height: 25px;
}
/* end section about us */
/* section project */
.project{
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(270deg, rgba(38,38,38,0.8603816526610644) 21%, rgba(31,59,53,1) 100%), url(./image/1.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: inherit;
    background-repeat: no-repeat;
    padding: 30px 10px;
}
.project .container .row .col-xl-3{
    width: 25%;
    padding: 25px 0px;
}
.project .container .row .col-xl-3 img{
    width: 20%;
}
.project .container .row .col-xl-3 {
    text-align: center;
    color: var(--text-color);
}
.project .container .row .col-xl-3 .num{
    font-size: 40px;
    font-weight: 600;
    color: var(--praimary-color);
}
.project .container .row .col-xl-3 .num span{
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
}
/* end project */
/* section latest */
.latest{
    width: 100%;
    height: fit-content;
    background-color: #000;
    padding: 35px 15px;
}
.latest .container .row .col-xl-8{
    color: var(--text-color);
}
.latest .container .row .col-xl-8 .text{
   letter-spacing: 3px;
   font-size: 18px;
   text-transform: uppercase;
   color: var(--praimary-color);
}
.latest .container .row .col-xl-8 h2{
    font-size: 50px;
    font-weight: 600;
}
.latest .container .row .col-xl-8 h2 .span-h2{
    color: var(--praimary-color);
    font-weight: 600;
}
.latest .container .row .col-xl-8 .body{
    font-size: 13px;
    line-height: 25px;
    padding: 35px 0px;
}
.latest .container .row .col-xl-8 .list{
    font-size: 13px;
    /* padding: 10px 0px; */
}
.latest .container .row .col-xl-8 .list i{
    color: var(--praimary-color);
    padding-right: 10px;
    font-size: 18px;
}
.latest .container .row img{
    width: 100%;
    height: auto;
    margin: 0px;
}
/* end latest section */
.company{
    width: 100%;
    height: fit-content;
    padding: 35px 0px;
    background-image: linear-gradient(270deg, rgba(31,59,53,0.5690651260504201) 0%, rgba(38,38,38,0.9023984593837535) 100%), url(./image/side-view-portrait-of-a-woman-with-make-up-CTUMAUJ.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: initial;
    background-repeat: no-repeat;
}
.company .container .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 35px 0px;
}
.company .container .row .col-xl-2 img{
    width: 100%;
    text-align: center;
    filter: grayscale(100%);
}
/* end company */
.experience{
    width: 100%;
    height: fit-content;
    background-color: #000;
    padding: 35px 0px;
}
.experience .container .row .col-xl-6 .card{
    background-color: #000;
    color: var(--text-color);
}
.experience .container .row .col-xl-6 .card .card-body .text{
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--praimary-color);
}
.experience .container .row .col-xl-6 .card .card-body .card-title{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 40px;
}
.experience .container .row .col-xl-6 .card .card-body .card-title .h3{
    font-size: 50px;
    font-weight: 600;
    color: var(--praimary-color);
}
.experience .container .row .col-xl-6 .card .card-body .card-text{
    font-size: 13px;
    padding-top: 45px;
    margin-top: 50px;
    padding-bottom: 40px;
}
.experience .container .row .col-xl-6 .card .card-body .check{
    font-size: 13px;
}
.experience .container .row .col-xl-6 .card .card-body .check i{
    width: 20px;
    height: 20px;
    background-color: var(--praimary-color);
    color: #000;
    padding: 4.5px;
    border-radius: 50%;
    margin-right: 10px;
}
.experience .container .row .col-xl-6 .card .fa-circle-play{
    font-size: 80px;
    transform: translate(240px , -200px);
}
/* end experiece section */
.team{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-attachment: inherit; */
}
.team .head {
    background-image: url(./image/Bg-1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: initial;
    text-align: center;
    padding: 45px 50px;
    color: var(--text-color);
}
.team .head hr{
   transform: translate(380px , -40px);
}
.team .head .text{
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--praimary-color);
}
.team .head h3{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 40px;
}
.team .head h3 .span-h3{
    font-size: 50px;
    font-weight: 600;
    color: var(--praimary-color);
}
.team .head p{
    font-size: 17px;
    font-size: 400;
    margin: 0px 55px;
    padding: 0px 55px;
}
.team .body{
    width: 100%;
    background-image: url(./image/Bg-1.jpg) ;
    background-position: center;
    background-size: cover;
}
.team .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team  .body .card{
    width: 48%;
    margin: 20px 10px;
    background-color: var(--bg2-color);
    border-radius: 0%;
    color: var(--text-color);
}
.team  .body .card .col-md-8 .card-body .card-title{
    font: 30px 600;
    padding: 5px 0px 15px 0px;
}
.team  .body .card .col-md-8 .card-body .card-text{
    font-size: 13px;
}
.team  .body .card .col-md-8 .card-body .card-text small{
    color: var(--praimary-color);
    padding: 25px 0px;
}
.team  .body .card .col-md-8 .card-body .icon i{
    font-size: 18px;
    color: var(--praimary-color);
    padding: 20px 10px;
}
.team .body .card .row .col-md-4 img{
    width: 100%;
    height: 90%;
    filter: grayscale(100%);
    transform: translate(0px , -15px);
}
/* end section team */
/* work section */
.work{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    /* background-attachment: inherit; */
}
.work .container .head {

    text-align: center;
    padding: 45px 50px;
    color: var(--text-color);
}
.work .container .head hr{
   transform: translate(380px , -40px);
}
.work .container .head .text{
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--praimary-color);
}
.work .container .head h3{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 40px;
}
.work .container .head h3 .span-h3{
    font-size: 50px;
    font-weight: 600;
    color: var(--praimary-color);
}
.work .container.head p{
    font-size: 18px;
    font-size: 400;
    margin: 0px 55px;
    padding: 0px 55px;
}
.work .container .image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 45px 0px;
}
.work .container .image img{
    width: 28%;
    margin: 7px;
}
/* end section work */
/* section client */
.client{
    background-image: linear-gradient(270deg, #0000001e 0%, #26262663 0%), url(./image/adadad.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    color: var(--text-color);
}
.client .container .row .col-xl-6{
    margin: 25px 0px;
    padding: 45px 0px;
}
.client .container .row .col-xl-6 .text{
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--praimary-color);
}
.client .container .row .col-xl-6 h3{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 40px;
}
.client .container .row .col-xl-6 .span-h3{
    font-size: 50px;
    font-weight: 600;
    color: var(--praimary-color);
}
.client .container .row .col-xl-6 .btn{
    background-color: var(--praimary-color);
    color: var(--text-color);
    border-radius: 0px;
    padding: 10px 15px;
    margin: 20px 0px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
}
.client .container .row .col-xl-6 .card{
    background-color: #262626dc;
    border-radius: 0px;
    color: var(--text-color);
    padding: 10px 15px;
    margin: 45px 0px;
}
.client .container .row .col-xl-6 .card .card-body .card-text{
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 25px;
}
.client .container .row .col-xl-6 .card .card-body .image{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.client .container .row .col-xl-6 .card .card-body .image .text-image h5{
    font-size: 18px;
    font-weight: 600;
    padding: 0px 15px;
}
.client .container .row .col-xl-6 .card .card-body .image .text-image p small{
    color: var(--praimary-color);
    font-size: 18px;
    padding: 0px 20px;
}
.client .container .row .col-xl-6 .card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.client .container .row .col-xl-6 .card .card-body .image .icon i{
    color: var(--praimary-color);
    font-size: 80px;
    transform: translate(220px , -10px);
}
/* end section client */
/* section news */
.news{
    width: 100%;
    height: fit-content;
    background-color: #000;
    padding: 45px 0px;
}
.news .container .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.news .container .head .text{
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--praimary-color);
}
.news .container .head h3{
    font-size: 50px;
    font-weight: 600;
}
.news .container .head .span-h3{
    font-size: 50px;
    font-weight: 600;
    color: var(--praimary-color);
}
.news .container .head .body{
    font-size: 18px;
    font-size: 400;
    margin: 0px 55px;
    padding: 0px 55px;
    text-align: center;
}
.news .container .cards{
    color: var(--text-color);
    margin: 35px 0px;
}
.news .container .cards .col-xl-4 .card{
    border-radius: 0px !important; 
    background-color: #000;
    color: var(--text-color);
}
.news .container .cards .col-xl-4 .card img{
    border-radius: 0px;
}
.news .container .cards .col-xl-4 .card .card-body .card-title{
    color: var(--praimary-color);
    font-size: 25px;
    padding: 10px 0px;
}
.news .container .cards .col-xl-4 .card .card-body .card-text{
    font-size: 14px;
    line-height: 25px;
    padding: 10px 0px;
}
.news .container .cards .col-xl-4 .card .card-body .span-icon{
    padding: 10px 13px;
}
.news .container .cards .col-xl-4 .card .card-body .span-icon i{
    color: var(--praimary-color);
    padding: 0px 5px;
}
/* end news section */
/* touch section */
.touch{
    width: 100%;
    height: fit-content;
    background-color: var(--bg2-color);
    padding: 45px 0px;
}
.touch .container .row .col-xl-6 form{
    padding: 10px 8px;
    border: 2px solid var(--praimary-color);
    color: var(--praimary-color);
    padding-bottom: 55px;
}
.touch .container .row .col-xl-6 form input{
    width: 100%;
    background-color: #0000001e;
    border: 2px solid var(--praimary-color);
}
.touch .container .row .col-xl-6 form textarea{
    width: 100%;
    background-color: #0000001e;
    border: 2px solid var(--praimary-color);
}
.touch .container .row .col-xl-6 form .btn{
    width: 90%;
    background-color:  var(--praimary-color);
    /* border: 2px solid var(--praimary-color); */
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 0%;
}
.touch .container .row .col-xl-6 .head{
    color: var(--text-color);
}
.touch .container .head .text{
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--praimary-color);
}
.touch .container .head h3{
    font-size: 50px;
    font-weight: 600;
}
.touch .container .head .span-h3{
    font-size: 50px;
    font-weight: 600;
    color: var(--praimary-color);
}
.touch .container .head .body{
    font-size: 18px;
    font-size: 400;
}
.touch .container .icon-touch{
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    margin: 35px 0px;
}
.touch .container .icon-touch i{
    color: var(--praimary-color);
    font-size: 35px;
    padding-right: 20px;
}
.touch .container .icon-touch .text-icon span{
    color: var(--praimary-color);
    font-size: 13px;
}
.touch .container .icon-touch .text-icon p{
    /* color: var(--praimary-color); */
    font-weight: 600;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}
.foot{
    width: 100%;
    height: fit-content;
    padding: 45px 0px;
    background: radial-gradient(circle, rgba(31,59,53,1) 0%, rgba(38,38,38,1) 100%);
}
.foot .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.foot .container .logo{
        display: flex;
        flex-direction: column;
        color: #fff;
        text-align: center;
        line-height: 33px;
        margin: 45px 0px;
}
.foot .container .logo .navbar-brand{
        font-size: 50px;
        font-weight: 800;
        color: var(--praimary-color);
}
.foot .container .logo .nav-span{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
} 
.foot .container .links ul li{
    list-style: none;
    display: inline-block;
}
.foot .container .links ul li a{
    text-decoration: none;
    color: var(--praimary-color);
    padding: 0px 20px;
    font-size: 15px;
}
.foot .container .text p{
    font-size: 18px;
    line-height: 30px;
    padding: 35px 40px;
    margin: 0px 45px;
    text-align: center;
    color: var(--text-color);
}
.foot .container .icon-foot i{
    font-size: 25px;
    color: var(--praimary-color);
    padding: 35px 25px;
}
.right{
    background-color: #000;
    margin: 0px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.right .copyright{
    font-size: 15px;
    color: var(--text-color);
    padding: 30px 0px;
}